@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* CSS Variables */
:root {
  --green: hsl(75, 94%, 57%);
  --dark-grey: hsl(0, 0%, 12%);
  --grey: hsl(0, 0%, 20%);
  --black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 14px;
}

/* background container */
.container {
  min-height: 100vh;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* main card */
.content {
  width: 350px;
  padding: 35px;
  background-color: var(--dark-grey);
  border-radius: 10px;
  text-align: center;
}

/* profile image */
img {
  border-radius: 100px;
  width: 80px;
}

/* details section of the profile holder */
.name {
  font-size: 20px;
  color: white;
  margin: 20px 0 10px 0;
}

.place {
  font-size: 12px;
  color: var(--green);
}

.about {
  color: hsl(0, 1%, 47%);
  margin: 20px 0;
}

/* all links section */
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
}
ul {
  list-style: none;
}
.list {
  width: 300px;
  margin: 13px 0;
  padding: 10px 0;
  text-align: center;
  background-color: var(--grey);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* hover effect */
.list:hover {
  background-color: var(--green);
}
.list:hover a {
  color: var(--black);
}

/* media query section */
@media only screen and (max-width: 375px) {
  .content {
    width: 300px;
  }
  .list {
    width: 240px;
    margin: 10px 0;
  }
}
